// TODO. Theme mixin
//$theme-zenburn: map-get($hljs-theme-colors, 'zenburn');
//$theme-grayscale: map-get($hljs-theme-colors, 'grayscale');
@mixin teksyndicate-hljs {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: $hljs-background;
    color: $hljs-color;
  }


  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-tag {
    color: $hljs-keyword;
  }


  .hljs-template-tag {
    color: $hljs-template-tag;
  }


  .hljs-number {
    color: $hljs-number;
  }


  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute {
    color: $hljs-variable;
  }


  .hljs-literal {
    color: $hljs-literal;
  }


  .hljs-subst {
    color: $hljs-subst;
  }


  .hljs-title,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-section,
  .hljs-type {
    color: $hljs-title;
  }


  .hljs-symbol,
  .hljs-bullet,
  .hljs-link {
    color: $hljs-symbol;
  }


  .hljs-deletion,
  .hljs-string,
  .hljs-built_in,
  .hljs-builtin-name {
    color: $hljs-string;
  }


  .hljs-addition,
  .hljs-comment,
  .hljs-quote,
  .hljs-meta {
    color: $hljs-meta;
  }



  .hljs-emphasis {
    font-style: italic;
  }


  .hljs-strong {
    font-weight: bold;
  }
};
