@mixin teksyndicate-video { 
    %lazyYT-size {
        width: 693px !important;
        height: 120px !important;
    }
    .lazyYT {

        iframe {
            width: 693px !important;
            height: 390px !important;
        }

        &-container {
            @extend %lazyYT-size;
        }

        &-video-loaded {
            @extend %lazyYT-size;
        }

        &-image-loaded {
            @extend %lazyYT-size;
        }
    }
};
